<div class="bg-gray-200 h-screen w-screen p-[6rem]">
    <div class="drop-shadow-2xl text-center mx-auto rounded-xl bg-[#DBABAB] h-[35rem] w-[30rem] border-4 border-[#9B6262]">
        <div class="flex flex-col justify-center pt-[2rem]">
            <div class="pl-[6rem]">
            <%= image_tag "k.png", height: 300, width: 300%>
            </div>
            <h1 class="font-dancing-script text-[#500000]  text-[3.5rem]"> Howdy! </h1>

            <p class="font-serif text-[#500000] p-2"> Welcome to the Student Knowledge System </p>
            <div class="text-[#500000] flex flex-col items-center">
                <%= link_to "Sign in", users.sign_in_path, class:"rounded-md text-[1rem] font-serif p-1 bg-gray-200 w-1/2 border-2 border-[#9B6262] hover:bg-gray-300 mb-1" %>
                <%= link_to "Create Account", new_user_path, class:"rounded-md text-[1rem] font-serif p-1 bg-gray-200 w-1/2 border-2 border-[#9B6262] hover:bg-gray-300 " %>


            </div>
        </div>
    </div>
</div>