<% @archived_courses.each do |course| %>
  <tr class="even:bg-white odd:bg-gray-100 hover:bg-gray-200 transition">
    <td class="p-3">
      <div class="flex items-center justify-between">
        <div class="mr-8">
          <span class="font-semibold text-[#500000] text-lg">
            <%= course.course_name %>
          </span>
          <span class="text-gray-500 text-sm">
            (<%= course.semester %>)
          </span>
        </div>
        <div class="hover:bg-gray-300 p-2 rounded cursor-pointer">
          <%= form_with(model: course, url: unarchive_course_path(course), method: :post) do |form| %>
            <%= form.submit 'Unarchive', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <div class="border-b mt-2"></div>
    </td>
  </tr>
<% end %>
