

<div class="p-2 flex justify-center text-[#500000] w-5/6 drop-shadow-xl rounded mx-auto my-4 bg-gray-100"id="coursesDiv">
  <table class="my-2 table table-striped table-hover text-center">
    <thead class="">
      <tr>
        <th class="font-source-serif-pro text-[1.5rem]"colspan="5">
          <h1>Archived Courses</h1>
        </th>
      </tr>
      
    </thead>

    <tbody class="hover:bg-gray-300 font-source-serif-pro border"> 
      <tr class="py-2">
      
          <%= render partial: 'courses/partials/archived', class: 'custom-tbody' %>
     
      </tr>
    </tbody>
  </table>
</div>

<footer class="flex justify-center hd footer mt-auto text-center ">
  <div class="font-source-serif-pro font-semibold hover:bg-gray-300 text-[#500000] text-[1rem] container w-auto hover:underline hover:underline-offset-4 py-1 px-3 border-2 rounded border-dotted border-[#500000]">
    <%= button_to "Back to Courses", courses_path, :method=>:get  %>
  </div>
</footer>