<div class="bg-gray-200 h-screen w-screen p-[6rem]">
    <div class="drop-shadow-2xl text-center mx-auto my-[6rem] rounded-xl bg-[#DBABAB] h-[6rem] w-[30rem] border-4 border-[#9B6262]">
        <div class="flex flex-col justify-center">
            <p class="p-4 font-serif text-[#500000]"> If we have found you in our system, you have been sent a link to log in! </p>
        </div>
    </div>
</div>